# Firebase Secrets
backend_nest_alertas/firebase-service-account.json
backend_nest_alertas/firebase-service-account-fbsvc-6166a748aa.json
app_alertas/android/app/google-services.json
google-services.json

# Environment variables
.env
.env.*

# Node dependencies
node_modules/
dist/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
