# Copia este archivo a .env y ajusta los valores.
#
# Emulador Android → backend en tu PC:
# API_BASE_URL=http://10.0.2.2:3000/api
#
# Dispositivo físico en la misma red Wi‑Fi (reemplaza por la IP de tu PC):
# API_BASE_URL=http://192.168.1.100:3000/api

API_BASE_URL=http://10.0.2.2:3000/api
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiZWxvam9zZGVhcnJveiIsImEiOiJjbW5lbjNoZm4wMTRoMnNxM2RuZG1jdm9uIn0.nErIU6_OLUsQyg77y6geKA
